
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:  Helvetica, sans-serif;
    scroll-behavior: smooth;
}



#con{
    margin-top: 50px;
}
#con .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111 ,0.2) 0px 7px 29px 0px;
}
#con .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
}
#con .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67 0 86);
}
.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.messagebtn button:hover{
    background-color: rgb(67 0 86);
    color: white;
}
.cont{
    margin-top: 50px;
}
.for{
    margin-top: 30px;
}