.cart-img{
     width: 500px;
    height: 500px;


}
.cart-img img{
    width: 50%;
    margin-left: 100px;
    margin-top: 90px;

}
.cart-section{
    display: flex;
}
.cart-details{
    padding: 20px;
}
.cart-details button{
    background-color: lightblue;
    padding: 3px;
    width: 5rem;
    border-radius: 5px;
    columns: white;
    margin-top: 10px;
}
.cart-details h3{
    margin-top: 60px;
}
.starr{
    color: #ffc800;
    font-size: 20px;
}
.starr i{
    padding-left: 10px;
}
.para{
    color: green;
}
.cart-details h6{
    margin: 0;
}
.remove{
    display: flex;
}
.remove a{
     background-color: lightblue;
    padding: 6px;
    width: 5rem;
    border-radius: 5px;
    columns: white;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid black;
}
.orders{
    margin-top: 15px;
}
@media screen and (max-width:400px){
   
    .cart-img img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-top: 100px;
        margin-left: 10px;
    }
    .cart-details{
        font-size: 10px;
        margin: 0;
    }
     .starr i{
        font-size: 10px;
    }
    .remove{
    display: flex;
}

}
@media screen and (max-width:320px){
    .cart-img img{
        width: 100%;
        margin: 0;
    }
     .cart-details{
        font-size: 10px;
    }
     .starr i {
        font-size: 10px;
    }
 

}